@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Movie>

<h2>Movies Table</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            @* <th>MovieId</th> *@
            <th>CategoryId</th>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>LentTo</th>
            <th>CopiedToPlex</th>
            <th>Notes</th>
        </tr>

    @foreach (var x in Model)
    {
    <tbody>
        <!-- Add your dynamic data here from the database -->
        <tr>
           @*  <td>@x.MovieId</td> *@
            <td>@x.CategoryId</td>
            <td>@x.Title</td>
            <td>@x.Year</td>
            <td>@x.Director</td>
            <td>@x.Rating</td>
            <td>@x.Edited</td>
            <td>@x.LentTo</td>
            <td>@x.CopiedToPlex</td>
            <td>@x.Notes</td>

            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.MovieId"></a>Edit</td>
            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.MovieId"></a>Delete</td>
        </tr>
        </tbody>

    }
